<div class="col-md-12">
  <div class="card">
    <div class="card-header" data-background-color="purple">
        <h4 class="title">Dodaj rozgrywkę</h4>
        <p class="category">Dodawanie nowej rozgrywki</p>
    </div>
    <div class="card-content">
      <form id="addEventForm" onsubmit="return false;">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group label-floating">
              <label class="control-label">Nazwa rozgrywek</label>
              <input type="text" class="form-control" name="name">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group label-floating">
              <label class="control-label">Krótka nazwa ( np. śalh )</label>
              <input type="text" class="form-control" name="shortname">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group label-floating">
              <label class="control-label">Sezon ( np. 2016/17 )</label>
              <input type="text" class="form-control" name="season">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label>Rodzaj</label>
              <div class="radio">
                <label class="radio-inline"><input type="radio" name="type" checked="checked" value="S.Z">Sezon zasadniczy</label>
                <label class="radio-inline"><input type="radio" name="type" value="P-O">Playoff</label>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label>Poziom</label>
              <div class="radio">
                <label class="radio-inline"><input type="radio" name="level" checked="checked" value="Amator">Amator</label>
                <label class="radio-inline"><input type="radio" name="level" value="2 liga">2 liga</label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success pull-right">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('#addEventForm').submit(function(e) {
      var data = {};
      data.name = $('input[name=name]').val();
      data.shortname = $('input[name=shortname]').val();
      data.season = $('input[name=season]').val();
      data.type = $( "input[type=radio][name=type]:checked" ).val();
      data.level = $( "input[type=radio][name=level]:checked" ).val();

      $.ajax({
        type: 'POST',
        data: JSON.stringify(data),
        contentType: 'application/json',
        url: '/ap/addevent',
        success: function(value) {
          admins.showSwal('success', value);
        },
        error: function(value) {
          if (value.status == 409) {
            jQuery.each(value.responseJSON, function(i, val) {
              admins.showNotification('danger', val.msg);
            });
          } else if (value.status == 401) {
            admins.showNotification('danger', value.responseText);
          }

        },
      });
    });
  });
</script>
