<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  $( "#datepicker" ).datepicker({
    showWeek: true,
    firstDay: 1
  });
} );
</script>

<h2 class="page-header">Add Game</h2>
{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
  {{/each}}
{{/if}}
<form method="post" action="/ap/addgame">
  <div class="form-group">
    <label>Nazwa drużyny</label>
    <input type="text" required="true" class="form-control" placeholder="Wolves Tychy" name="name">
  </div>

  <div class="form-group">
    <label>Logo drużyny</label>
    <input type="url" class="form-control" name="logo">
  </div>

  <div class="form-group">
    <label>Data spotkania</label>
    <input type="text" name="date" id="datepicker" placeholder="MM/DD/YYYY">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success pull-right">Submit</button>
  </div>
</form>
