<h2 class="page-header">Add Game</h2>
{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
  {{/each}}
{{/if}}
<form id="addgameForm" method="post" action="/ap/addgame">
  <div id="name" class="form-group">
    <label>Nazwa drużyny</label>
    <input type="text" required="true" class="form-control" placeholder="Wolves Tychy" name="name">
  </div>

  <div id="logo" class="form-group">
    <label>Logo drużyny</label>
    <input type="url" class="form-control" name="logo">
  </div>

  <div id="scoreOur" class="form-group">
    <label>Wynik</label>
    <div class="row">
      <div class="col-sm-6">
        <label>Wolves Tychy</label>
        <input type="number" class="form-control" value="0" placeholder="0" name="scoreOur">
      </div>
      <div class="col-sm-6">
        <label>Przeciwnik</label>
        <input type="number" class="form-control" value="0" placeholder="0" name="scoreOpponent">
      </div>
    </div>
  </div>

  <div id="date" class="form-group">
    <label>Data spotkania</label>
    <input type="text" name="date" id="datepicker" placeholder="MM/DD/YYYY">
  </div>

  <table id="statsTable"
         data-toggle="table"
         data-search="true"
         data-toolbar="#toolbar"
         data-click-To-Select="true"
         data-id-Field="_id"
         data-method="post"
         data-url="/ap/users">
    <thead>
      <tr>
        <th data-field="state" data-checkbox="true"></th>
        <th data-field="_id" data-visible="false">username</th>
        <th data-field="username" data-visible="false">username</th>
        <th data-field="name" data-sortable="true">Imię</th>
        <th data-field="surname" data-sortable="true">Nazwisko</th>
        <th data-field="shirtnumber" data-sortable="true">Numer</th>
        <th data-field="position" data-sortable="true">Pozycja</th>
      </tr>
    </thead>
  </table>

  <div id="toolbar">
    Zawodnicy
  </div>
  <div class="form-group">
    <button id="getAllSelections" type="submit" class="btn btn-success pull-right">Submit</button>
  </div>
</form>

<script>
$(function () {
  $('#getAllSelections').click(function (e) {

    var formURL = $('#addgameForm').attr('action');
    var data = {};
    data.teamname = $('input[name=name]').val();
    data.teamlogo = $('input[name=logo]').val();
    data.date = $('input[name=date]').val();
    data.score = {};
    data.score.our = $('input[name=scoreOur]').val();
    data.score.opponent = $('input[name=scoreOpponent]').val();
    data.players = $('#statsTable').bootstrapTable('getAllSelections');
    $.ajax({
      type: 'POST',
      data: JSON.stringify(data),
      contentType: 'application/json',
      url: formURL,
      success: function (data, textStatus, jqXHR) {
        console.log('success');
        if (data.redirect == 'reload') {
          window.location.reload();
        } else if (typeof (data.redirect == 'string')) {
          window.location = data.redirect;
        }
      },
    });
    e.preventDefault();
  });
});
</script>
