<div class="col-md-12">
  <div class="card">
    <div class="card-header" data-background-color="purple">
        <h4 class="title">Dodaj nowy mecz</h4>
        <p class="category">Dodawanie nowego meczu do bazy</p>
    </div>
    <div class="card-content">

      {{#if errors}}
        {{#each errors}}
          <script>
            admins.showNotification('danger','{{msg}}');
          </script>
        {{/each}}
      {{/if}}
      {{#if success}}
        <script>
          admins.showNotification('success','{{success}}');
        </script>
      {{/if}}
      <form id="addGameForm" method="post" onsubmit="return false">
        <div class="row">
          <div class="col-md-6">
        <div id="name" class="form-group label-floating">
          <label class="control-label">Nazwa drużyny</label>
          <input type="text" required="true" class="form-control" name="name">
        </div>
        </div>

        <div class="col-md-6">
        <div id="logo" class="form-group label-floating">
          <label class="control-label">Logo drużyny (url)</label>
          <input type="url" class="form-control" name="logo">
        </div>
      </div>
      </div>

      <div class="row">
        <label class="col-sm-12">Wynik poszczególnych tercji:</label>
        <label class="col-sm-2">Pierwsza</label>
        <div class="col-sm-5">
          <div class="form-group label-floating column-sizing">
            <label class="control-label"></label>
            <input type="number" required="true" min="0" class="form-control" placeholder="Wolves Tychy" name="firstOur">
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group label-floating column-sizing">
            <label class="control-label"></label>
            <input type="number" required="true" min="0" class="form-control" placeholder="Przeciwnik" name="firstOpponent">
          </div>
        </div>
        <label class="col-sm-2">Druga</label>
        <div class="col-sm-5">
          <div class="form-group label-floating column-sizing">
            <label class="control-label"></label>
            <input type="number" class="form-control" min="0" placeholder="Wolves Tychy" name="secondOur">
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group label-floating column-sizing">
            <label class="control-label"></label>
            <input type="number" class="form-control" min="0" placeholder="Przeciwnik" name="secondOpponent">
          </div>
        </div>
        <label class="col-sm-2">Trzecia</label>
        <div class="col-sm-5">
          <div class="form-group label-floating column-sizing">
            <label class="control-label"></label>
            <input type="number" class="form-control" min="0" placeholder="Wolves Tychy" name="thirdOur">
          </div>
        </div>
        <div class="col-sm-5">
          <div class="form-group label-floating column-sizing">
            <label class="control-label"></label>
            <input type="number" class="form-control" min="0" placeholder="Przeciwnik" name="thirdOpponent">
          </div>
        </div>
      </div>

      <div class="row">
        <!-- TODO: Repair datapicker
      -->
        <div class="col-sm-6">
          <div id="date" class="form-group">
            <label>Data spotkania</label>
            <input class="form-control datepicker" required="true" type="text" name="date" id="datepicker" placeholder="MM/DD/YYYY">
          </div>
        </div>
        <div class="col-sm-6">
        <div class="togglebutton form-group">
          <label>
            <input type="checkbox" name="home" id="home">
            Wyjazd
          </label>
        </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
        <table id="eventsTable"
               data-toggle="table"
               data-method="post"
               data-select-item-name="eventID"
               data-classes="table table-striped table-hover"
               data-sort-name="season"
               data-sort-order="desc"
               data-click-to-select="true"
               data-single-select="true"
               data-url="/ap/events/?active=true">
            <thead>
            <tr>
              <th data-field="state1" data-checkbox="true"></th>
              <th data-field="_id" data-formatter="idFormatter" data-visible="false">ID</th>
              <th data-field="season" data-sortable="true">Sezon</th>
              <th data-field="shortname" data-sortable="true">K.Nazwa</th>
              <th data-field="type" data-sortable="true">Rodzaj</th>
              <th data-field="level" data-sortable="true">Poziom</th>
            </tr>
          </thead>
        </table>
      </div>
      </div>
        <div class="col-md-12">
        <table id="statsTable"
               data-toggle="table"
               data-search="true"
               data-toolbar="#toolbar"
               data-select-item-name="playersID"
               data-click-To-Select="true"
               data-id-Field="_id"
               data-method="post"
               data-url="/ap/users">
          <thead>
            <tr>
              <th data-field="state" data-checkbox="true"></th>
              <th data-field="_id" data-name="id" data-visible="false">ID</th>
              <th data-field="username" data-visible="false">username</th>
              <th data-field="name" data-sortable="true">Imię</th>
              <th data-field="surname" data-sortable="true">Nazwisko</th>
              <th data-field="shirtnumber" data-sortable="true">Numer</th>
              <th data-field="position" data-sortable="true">Pozycja</th>
            </tr>
          </thead>
        </table>
      </div>
        <div id="toolbar">
          Zawodnicy
        </div>
        <div class="form-group">
          <button type="submit" id="submitButton" class="btn btn-success pull-right">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
$(function () {
  $('#addGameForm').submit(function (e) {
    // sendAjax();
    var data = {};
    data.teamname = $('input[name=name]').val();
    data.teamlogo = $('input[name=logo]').val();
    data.date = $('input[name=date]').val();
    data.home = $('input[name=home]').val();
    data.event = $('#eventsTable').bootstrapTable('getAllSelections');
    data.periods = {};
    data.periods.first = {};
    data.periods.first.our = $('input[name=firstOur]').val();
    data.periods.first.opponent = $('input[name=firstOpponent]').val();
    data.periods.second = {};
    data.periods.second.our = $('input[name=secondOur]').val();
    data.periods.second.opponent = $('input[name=secondOpponent]').val();
    data.periods.third = {};
    data.periods.third.our = $('input[name=thirdOur]').val();
    data.periods.third.opponent = $('input[name=thirdOpponent]').val();
    data.players = [];
    players = $('#statsTable').bootstrapTable('getAllSelections');
    jQuery.each(players, function (i, val) {
      data.players.push({ playerID: val._id, _id: val._id });
    });
    $.ajax({
      type: 'POST',
      data: JSON.stringify(data),
      contentType: 'application/json',
      url: '/ap/addgame',
      success: function (value) {
        admins.showNotification('success','lol success');
      },
      error: function (value) {
        admins.showNotification('danger',value.responseText);
      },
    });
  });
});
// $(function () {
//   $('#datepicker').datepicker();
// });
</script>
