<h2 class="page-header">Add User</h2>

{{#if errors}}
  {{#each errors}}
    <div class="alert alert-danger">{{msg}}</div>
  {{/each}}
{{/if}}
{{#if success}}
  <div class="alert alert-success">{{success}}</div>
{{/if}}

<form method="post" action="/ap/adduser">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control" placeholder="Username" name="username">
  </div>

  <div class="form-group">
    <label>Imie</label>
    <input type="text" class="form-control" placeholder="Imie" name="name">
  </div>

  <div class="form-group">
    <label>Nazwisko</label>
    <input type="text" class="form-control" placeholder="Nazwisko" name="surname">
  </div>

  <div class="form-group">
    <label>Numer koszulki</label>
    <input type="number" class="form-control" placeholder="0 - 99" name="shirtnumber" min="0" max="99">
  </div>

  <div class="form-group">
    <label class="radio-inline"><input type="radio" name="position" checked="checked" value="Emeryt">Emeryt</label>
    <label class="radio-inline"><input type="radio" name="position" value="Bramkarz">Bramkarz</label>
    <label class="radio-inline"><input type="radio" name="position" value="Obrońca">Obrońca</label>
    <label class="radio-inline"><input type="radio" name="position" value="Napastnik">Napastnik</label>
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password">
  </div>

  <div class="form-group">
    <label style="">Confirm Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password2">
  </div>

  <div class="form-group">
    <input type="checkbox" name="adminflag" id="adminflag" autocomplete="off" />
    <div class="btn-group">
      <label for="adminflag" class="btn btn-default">
        <span class="glyphicon glyphicon-ok"></span>
        <span> </span>
      </label>
      <label for="adminflag" class="btn btn-default active">
        Admin
      </label>
    </div>

    <button type="submit" class="btn btn-success pull-right">Submit</button>
  </div>
</form>
