<div class="card col-md-12">
	<!-- KEEP all card content in here -->
	<div class="row">
		<!-- About us section -->
		<div class="col-md-12">
			<h2>AMATORSKA DRUŻNA HOKEJOWA, występująca w II lidze grupy południowej PLH, w Śląskiej Lidze Amatorskiej, w Mistrzostwach Polski Amatorów na lodzie.</h2>
		</div>
	</div>
	<div class="row">
		<!-- Amatorzy section -->
		<div class="col-md-12">
			AMATORZY
			<p>Sekcja amatorska utworzona w 2016 roku uczestnicząca w śląskiej amatorskiej lidze hokeja oraz na mistrzostwach polski amatorów.</p>
		</div>
		<div class="stats col-md-12">
			<!-- Stats of amateur team -->
			<table class="table">
				<thead class="text-primary">
					<th>Wygrane</th>
					<th>Przegrane</th>
					<th>Remisy</th>
					<th>Zdobyte bramki</th>
					<th>Stracone bramki</th>
					<th>+/- bramki</th>
				</thead>
			</table>
		</div>
		<div class="last5 col-md-12">
			<table class="table">
				<thead class="text-primary">
					<th>Data</th>
					<th>Przeciwnik</th>
					<th>logo</th>
					<th>liga</th>
					<th>sezon</th>
					<th>Wynik</th>
				</thead>
			</table>
		</div>
		<div class="col-sm-4">
			Najlepiej punktujący
		</div>
		<div class="col-sm-4">
			Najlepszy strzelec
		</div>
		<div class="col-sm-4">
			Najlepiej asystujący
		</div>
	</div>
	<div class="row">
		<!-- 2 liga section -->
		<div class="col-md-12">
			2 liga
			<p>Sekcja 2 ligi utworzona z początkiem działania stowarzyszenia...</p>
		</div>
		<div class="stats col-md-12">
			<!-- Stats of 2 liga team -->
			<table class="table">
				<thead class="text-primary">
					<th>Wygrane</th>
					<th>Przegrane</th>
					<th>Remisy</th>
					<th>Zdobyte bramki</th>
					<th>Stracone bramki</th>
					<th>+/- bramki</th>
				</thead>
			</table>
		</div>
		<div class="last5 col-md-12">
			<table class="table">
				<thead class="text-primary">
					<th>Data</th>
					<th>Przeciwnik</th>
					<th>logo</th>
					<th>liga</th>
					<th>sezon</th>
					<th>Wynik</th>
				</thead>
			</table>
		</div>
		<div class="col-sm-4">
			Najlepiej punktujący
		</div>
		<div class="col-sm-4">
			Najlepszy strzelec
		</div>
		<div class="col-sm-4">
			Najlepiej asystujący
		</div>
	</div>
	<div class="row">
		<!-- Achievements section -->

	</div>
	<div class="row">
		<!-- Contact section -->

	</div>
</div>
