<div class="row">
	<div class="col-md-12">
	  <div class="card">
      <div class="card-header" data-background-color="purple">
	      <h4 class="title">Lista aktywnych rozgrywek</h4>
	      <p class="category">Wszystkie aktywne rozgrywki dodane do portalu</p>
	    </div>
      <div class="card-content table-responsive">
        <table id="eventsActiveTable"
               data-toggle="table"
               data-method="post"
               data-classes="table"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-sort-name="season"
               data-sort-order="desc"
               data-url="/ap/events/?active=true">
            <thead>
            <tr>
              <th data-field="_id" data-formatter="idFormatter" data-visible="false">ID</th>
              <th data-field="season" data-formatter="seasonFormatter" data-sortable="true" data-events="actionEvents">Sezon</th>
              <th data-field="shortname" data-sortable="true">K.Nazwa</th>
              <th data-field="type" data-sortable="true">Rodzaj</th>
              <th data-field="level" data-sortable="true">Poziom</th>
              <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12">
	  <div class="card">
      <div class="card-header" data-background-color="purple">
	      <h4 class="title">Lista nieaktywnych rozgrywek</h4>
	      <p class="category">Wszystkie nieaktywne rozgrywki dodane do portalu</p>
	    </div>
      <div class="card-content table-responsive">
        <table id="eventsInactiveTable"
               data-toggle="table"
               data-method="post"
               data-classes="table"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-sort-name="season"
               data-sort-order="desc"
               data-url="/ap/events/?active=false">
            <thead>
            <tr>
              <th data-field="_id" data-formatter="idFormatter" data-visible="false">ID</th>
              <th data-field="season" data-formatter="seasonFormatter" data-sortable="true" data-events="actionEvents">Sezon</th>
              <th data-field="shortname" data-sortable="true">K.Nazwa</th>
              <th data-field="type" data-sortable="true">Rodzaj</th>
              <th data-field="level" data-sortable="true">Poziom</th>
              <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
function idFormatter(value) {
    return '<a href="/ap/event/' + value + '">' + value + '</a>';
}
function seasonFormatter(value) {
    return '<a class="event" href="" onclick="return false;" title="Event">' + value + '</a>';
}
function actionFormatter(value, row, index) {
    return [
        '<a class="like" href="" onclick="return false;" title="Like">',
        '<i class="glyphicon glyphicon-heart"></i>',
        '</a>',
        '<a class="edit ml10" nohref onclick="return false;" title="Edit">',
        '<i class="glyphicon glyphicon-edit"></i>',
        '</a>',
        '<a class="remove ml10" href="" onclick="return false;" title="Remove">',
        '<i class="glyphicon glyphicon-remove"></i>',
        '</a>'
    ].join('');
}
function deleteEvent(value) {
  $.ajax({
    type: 'DELETE',
    url: '/ap/event/' + value,
    success: function (result) {
      // Do something with the result
      console.log('obj');
    },
  });
}
function activeChangeEvent(value) {
  $.ajax({
    type: 'put',
    url: '/ap/events/?id=' + value,
    success: function (result) {
      // Do something with the result
      console.log('obj');
    },
  });
}
window.actionEvents = {
  'click .event': function (e, value, row, index) {
    window.location.href = "/ap/event/" + row._id;
  },
  'click .like': function (e, value, row, index) {
    window.location.href = "/ap/event/" + row._id;
  },
  'click .edit': function (e, value, row, index) {
    //alert('You click edit icon, row: ' + JSON.stringify(row));
    activeChangeEvent(row._id);
    refreshTable1();
  },
  'click .remove': function (e, value, row, index) {
    deleteEvent(row._id);
    refreshTable1();
  }
};
async function refreshTable1() {
  await sleep(400);
  $('#eventsActiveTable').bootstrapTable('refresh');
  $('#eventsInactiveTable').bootstrapTable('refresh');
}
</script>
