<div class="row">
  <h1>Statystyka dla: </h1>
</div>
<div class="row">
  <div class="col-xs-4">
    {{eventOverview.shortname}}
  </div>
  <div class="col-xs-4">
    {{eventOverview.season}}
  </div>
  <div class="col-xs-4">
    {{eventOverview.type}}
  </div>
<div class="row">

  <!-- Score table ! -->
  <table id="playersTable"
         data-toggle="table"
         data-method="post"
         data-classes="table table-striped table-hover"
         data-sort-name="points"
         data-sort-order="desc"
         data-url="/ap/event/{{eventOverview._id}}">
    <thead>
      <tr>
        <th data-field="_id" data-visible="false">id</th>
        <th data-field="username" data-visible="false" data-sortable="true">username</th>
        <th data-field="name" data-sortable="true">Imie</th>
        <th data-field="surname" data-sortable="true">Nazwisko</th>
        <th data-field="shirtnumber" data-sortable="true">Numer</th>
        <th data-field="position" data-sortable="true">Pozycja</th>
        <th data-field="gp" data-sortable="true">GP</th>
        <th data-field="goals" data-sortable="true">G</th>
        <th data-field="assists" data-sortable="true">A</th>
        <th data-field="points" data-sortable="true">P</th>
        <th data-field="pim" data-sortable="true">Mk</th>
      </tr>
    </thead>
  </table>
</div>
