<table data-toggle="table"
       data-method="post"
       data-classes="table table-striped table-hover"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-url="/ap/games">
    <thead>
    <tr>
      <th data-field="_id" data-formatter="idFormatter" data-visible="false">ID</th>
      <th data-field="teamname" data-sortable="true">Nazwa drużyny</th>
      <th data-field="teamlogo" data-formatter="teamlogoFormatter" data-sortable="true">Logo</th>
      <th data-field="date" data-sortable="true">Data spotkania</th>
      <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th>
    </tr>
  </thead>
</table>

<script>
function idFormatter(value) {
    return '<a href="/profile/' + value + '">' + value + '</a>';
}
function teamlogoFormatter(value) {
    return '<img src="' + value + '" height="32" width="32">';
}
function actionFormatter(value, row, index) {
    return [
        '<a class="like" href="javascript:void(0)" title="Like">',
        '<i class="glyphicon glyphicon-heart"></i>',
        '</a>',
        '<a class="edit ml10" href="javascript:void(0)" title="Edit">',
        '<i class="glyphicon glyphicon-edit"></i>',
        '</a>',
        '<a class="remove ml10" href="javascript:void(0)" title="Remove">',
        '<i class="glyphicon glyphicon-remove"></i>',
        '</a>'
    ].join('');
}
window.actionEvents = {
  'click .like': function (e, value, row, index) {
    window.location.href = "/profile/" + row._id;
  },
  'click .edit': function (e, value, row, index) {
    alert('You click edit icon, row: ' + JSON.stringify(row));
    console.log(value, row, index);
  },
  'click .remove': function (e, value, row, index) {
    window.location.href = "/ap/delete/game/" + row._id;
  }
};
</script>
