<div class="row">
	<div class="col-md-12">
	  <div class="card">
      <div class="card-header" data-background-color="purple">
	      <h4 class="title">Lista meczów</h4>
	      <p class="category">Wszystkie mecze amatorów oraz sekcji drugoligowej</p>
	    </div>
      <div class="card-content table-responsive">
        <table id="gamesTable"
               data-toggle="table"
               data-method="post"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-sort-name="date"
               data-sort-order="desc"
							 data-row-style="rowStyle"
               data-url="/games">
            <thead>
            <tr>
              <th data-field="_id" data-formatter="idFormatter" data-visible="false">ID</th>
              <th data-field="teamname" data-formatter="gameFormatter" data-events="actionEvents" data-sortable="true">Nazwa drużyny</th>
              <th data-field="teamlogo" data-formatter="teamlogoFormatter" data-sortable="true">Logo</th>
              <th data-field="eventID.shortname" data-sortable="true">K.Nazwa</th>
              <th data-field="eventID.level" data-sortable="true">Poziom</th>
              <th data-field="date" data-formatter="dateFormatter" data-sortable="true">Data spotkania</th>
              <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
function rowStyle(row, index) {
    var classes = ['active', 'success', 'info', 'warning', 'danger'];

    if (row.status.win || row.status.overtimeWin || row.status.shootoutWin) {
        return {
          classes: classes[1],
					css: {"color": "blue","box-shadow": "0 -1px 0 #CCC"}
        };
    } else if (row.status.lose || row.status.overtimeLose || row.status.shootoutLose) {
			return {
				classes: classes[4],
				css: {"color": "blue","box-shadow": "0 -1px 0 #CCC"}
			};
		} else if (row.status.draw) {
			return {
				classes: classes[3],
				css: {"color": "blue","box-shadow": "0 -1px 0 #CCC"}
			};
		}
    return {};
}
function idFormatter(value) {
    return '<a href="/game/' + value + '">' + value + '</a>';
}
function gameFormatter(value) {
    return '<a class="game" href="" onclick="return false;" title="Game">' + value + '</a>';
}
function teamlogoFormatter(value) {
    return '<img src="'  + value + '" style="height: 40px; width: 40px;">';
}
function dateFormatter(value) {
	return moment(value).format('DD.MM.YYYY');
}
function actionFormatter(value, row, index) {
    return [
        '<button class="like btn btn-info btn-xs btn-inline" href="" style="margin-top: 0px; margin-bottom: 0px" onclick="return false;" title="Like">',
        '<i class="glyphicon glyphicon-heart"></i>',
        '</button>',
				{{#if user.permissions.editGame}}
        '<button class="edit btn btn-success btn-xs btn-inline" href="" style="margin-top: 0px; margin-bottom: 0px" onclick="return false;" title="Edit">',
        '<i class="glyphicon glyphicon-edit"></i>',
        '</button>',
				{{/if}}
				{{#if user.permissions.deleteGame}}
        '<button class="remove btn btn-danger btn-xs btn-inline" href="" style="margin-top: 0px; margin-bottom: 0px" onclick="return false;" title="Remove">',
        '<i class="glyphicon glyphicon-remove"></i>',
        '</button>'
				{{/if}}
    ].join('');
}
{{#if user.permissions.deleteGame}}
function deleteGame(value) {
  $.ajax({
    type: 'DELETE',
    url: '/ap/game/' + value,
    success: function (response) {
			refreshTable('#gamesTable');
	  	swal(
	    	'Usuniety!',
	    	'Mecz został pomyślnie usuniety z bazy danych',
	    	'success',
		  )
    },
		error: function (response) {
			swal(
			'Error',
			'Wystąpił błąd podczas próby usuniecia meczu',
			'error'
			)
		},
  });
}
{{/if}}
window.actionEvents = {
	{{#if user}}
  'click .game': function (e, value, row, index) {
    window.location.href = "/ap/game/" + row._id;
  },
	{{else}}
	'click .game': function (e, value, row, index) {
    window.location.href = "/game/" + row._id;
  },
	{{/if}}
	{{#if user}}
  'click .like': function (e, value, row, index) {
    window.location.href = "/ap/game/" + row._id;
  },
	{{else}}
	'click .like': function (e, value, row, index) {
		window.location.href = "/game/" + row._id;
	},
	{{/if}}
	{{#if user.permissions.editGame}}
  'click .edit': function (e, value, row, index) {
    console.log('obj');
  },
	{{/if}}
	{{#if user.permissions.deleteGame}}
  'click .remove': function (e, value, row, index) {
		swal({
  		title: 'Jesteś pewien?',
  		text: "Usuniecie meczu nie będzie można cofnąć!",
  		type: 'warning',
  		showCancelButton: true,
  		confirmButtonColor: '#3085d6',
  		cancelButtonColor: '#d33',
  		confirmButtonText: 'Tak, usuń!'
		}).then(function () {
			deleteGame(row._id);
		})
  }
	{{/if}}
};
</script>
