<h2>{{user.username}}</h2>
<ul class="list-group">
  <li class="list-group-item">Imię: {{user.name}}</li>
  <li class="list-group-item">Nazwisko: {{user.surname}}</li>
  <li class="list-group-item">Numer: {{user.shirtnumber}}</li>
</ul>
