<table id="statsTable"
       data-toggle="table"
       data-method="post"
       data-classes="table table-striped table-hover"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-url="/stats">
    <thead>
    <tr>
      <th data-field="_id" data-formatter="idFormatter" data-visible="false">ID</th>
      <th data-field="username" data-formatter="usernameFormatter" data-sortable="true" data-events="actionEvents" data-visible="false">username</th>
      <th data-field="name" data-sortable="true">Imię</th>
      <th data-field="surname" data-sortable="true">Nazwisko</th>
      <th data-field="shirtnumber" data-sortable="true">Nr</th>
      <th data-field="position" data-sortable="true">Pozycja</th>
      <th data-field="gp" data-sortable="true">GP</th>
      <th data-field="goals" data-sortable="true">G</th>
      <th data-field="assists" data-sortable="true">A</th>
      <th data-field="points" data-sortable="true">P</th>
      <th data-field="pim" data-sortable="true">PIM</th>
    </tr>
  </thead>
</table>

<script>
function idFormatter(value) {
    return '<a href="/profile/' + value + '">' + value + '</a>';
}
function usernameFormatter(value) {
    return '<a class="profile" href="" onclick="return false;" title="Profile">' + value + '</a>';
}
window.actionEvents = {
  'click .profile': function (e, value, row, index) {
    window.location.href = "/profile/" + row._id;
  },
};
</script>
