<table id="usersTable"
       data-toggle="table"
       data-method="post"
       data-classes="table table-striped table-hover"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-columns="true"
       data-url="/ap/users">
    <thead>
    <tr>
      <th data-field="_id" data-formatter="idFormatter" data-visible="false">ID</th>
      <th data-field="username" data-formatter="usernameFormatter" data-sortable="true" data-events="actionEvents">username</th>
      <th data-field="name" data-sortable="true">Imię</th>
      <th data-field="surname" data-sortable="true">Nazwisko</th>
      <th data-field="shirtnumber" data-sortable="true">Numer</th>
      <th data-field="position" data-sortable="true">Pozycja</th>
      <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th>
    </tr>
  </thead>
</table>

<script>
function idFormatter(value) {
    return '<a href="/profile/' + value + '">' + value + '</a>';
}
function usernameFormatter(value) {
    return '<a class="profile" href="" onclick="return false;" title="Profile">' + value + '</a>';
}
function actionFormatter(value, row, index) {
    return [
        '<a class="like" href="" onclick="return false;" title="Like">',
        '<i class="glyphicon glyphicon-heart"></i>',
        '</a>',
        '<a class="edit ml10" nohref onclick="return false;" title="Edit">',
        '<i class="glyphicon glyphicon-edit"></i>',
        '</a>',
        '<a class="remove ml10" href="" onclick="return false;" title="Remove">',
        '<i class="glyphicon glyphicon-remove"></i>',
        '</a>'
    ].join('');
}
function deleteUser(value) {
  $.ajax({
    type: 'DELETE',
    url: '/ap/user/' + value,
    success: function (result) {
      // Do something with the result
      console.log('obj');
    },
  });
}
window.actionEvents = {
  'click .profile': function (e, value, row, index) {
    window.location.href = "/profile/" + row._id;
  },
  'click .like': function (e, value, row, index) {
    window.location.href = "/profile/" + row._id;
  },
  'click .edit': function (e, value, row, index) {
    alert('You click edit icon, row: ' + JSON.stringify(row));
    console.log(value, row, index);
  },
  'click .remove': function (e, value, row, index) {
    deleteUser(row._id);
    $('#usersTable').bootstrapTable('refresh');
  }
};
</script>
