<div class="row">
	<div class="col-md-12">
	  <div class="card">
      <div class="card-header" data-background-color="purple">
	      <h4 class="title">Lista użytkowników</h4>
	      <p class="category">Wszyscy użytkownicy portalu</p>
	    </div>
      <div class="card-content table-responsive">
        <table id="usersTable"
               data-toggle="table"
               data-method="post"
               data-classes="table"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
               data-show-columns="true"
               data-url="/ap/users">
            <thead>
            <tr>
              <th data-field="_id" data-formatter="idFormatter" data-visible="false">ID</th>
              <th data-field="username" data-formatter="usernameFormatter" data-sortable="true" data-events="actionEvents">username</th>
              <th data-field="name" data-sortable="true">Imię</th>
              <th data-field="surname" data-sortable="true">Nazwisko</th>
              <th data-field="shirtnumber" data-sortable="true">Numer</th>
              <th data-field="position" data-sortable="true">Pozycja</th>
              <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents" >Action</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
function idFormatter(value) {
    return '<a href="/profile/' + value + '">' + value + '</a>';
}
function usernameFormatter(value) {
    return '<a class="profile" href="" onclick="return false;" title="Profile">' + value + '</a>';
}
function actionFormatter(value, row, index) {
    return [
        '<a class="like" href="" onclick="return false;" title="Like">',
        '<i class="material-icons">person</i>',
        '</a>',
        '<a class="edit" nohref onclick="return false;" title="Edit">',
        '<i class="material-icons">edit</i>',
        '</a>',
        '<a class="remove" href="" onclick="return false;" title="Remove">',
        '<i class="material-icons">close</i>',
        '</a>',
    ].join('');
}
function deleteUser(value) {
  $.ajax({
    type: 'DELETE',
    url: '/ap/user/' + value,
    success: function (result) {
			if (result){
				refreshTable('#usersTable');
	  		swal(
	    	'Usuniety!',
	    	'Użytkownik pomyślnie usuniety z bazy danych',
	    	'success'
		  	)
			} else {
				swal(
	      'Error',
	      'Wystąpił błąd podczas próby usuniecia użytkownika',
	      'error'
	    )
			}
    },
  });
}
window.actionEvents = {
  'click .profile': function (e, value, row, index) {
    window.location.href = "/profile/" + row._id;
  },
  'click .like': function (e, value, row, index) {
    window.location.href = "/profile/" + row._id;
  },
  'click .edit': function (e, value, row, index) {
    window.location.href = "/ap/edituser/" + row._id;
  },
  'click .remove': function (e, value, row, index) {
		swal({
  		title: 'Jesteś pewien?',
  		text: "Usuniecie użytkownika nie będzie można cofnąć!",
  		type: 'warning',
  		showCancelButton: true,
  		confirmButtonColor: '#3085d6',
  		cancelButtonColor: '#d33',
  		confirmButtonText: 'Tak, usuń!'
		}).then(function () {
			deleteUser(row._id);
		})
  }
};
</script>
