<div class="row">
	<div class="col-md-12">
	  <div class="card">
      <div class="card-header" data-background-color="purple">
	      <h4 class="title">Lista użytkowników</h4>
	      <p class="category">Wszyscy użytkownicy portalu</p>
	    </div>
      <div class="card-content table-responsive">
        <table id="usersTable"
               data-toggle="table"
               data-method="post"
               data-search="true"
               data-show-refresh="true"
               data-show-toggle="true"
							 data-row-style="rowStyle"
               data-show-columns="true"
               data-url="/ap/users">
            <thead>
            <tr>
              <th data-field="_id" data-formatter="idFormatter" data-visible="false">ID</th>
              <th data-field="username" data-formatter="usernameFormatter" data-sortable="true" data-events="actionEvents">username</th>
              <th data-field="name" data-sortable="true">Imię</th>
              <th data-field="surname" data-sortable="true">Nazwisko</th>
              <th data-field="shirtnumber" data-sortable="true">Numer</th>
              <th data-field="position" data-sortable="true">Pozycja</th>
              <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents" >Action</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<script>
function rowStyle(row, index) {
    var classes = ['active', 'success', 'info', 'warning', 'danger'];

    if (row.permissions.superAdmin) {
        return {
          classes: classes[2]
        };
    } else if (row.permissions.adminPanel) {
			return {
				classes: classes[1]
			};
		} else if (!row.active) {
			return {
				classes: classes[3]
			};
		}
    return {};
}
function idFormatter(value) {
    return '<a href="/profile/' + value + '">' + value + '</a>';
}
function usernameFormatter(value) {
    return '<a class="profile" href="" onclick="return false;" title="Profile">' + value + '</a>';
}
function actionFormatter(value, row, index) {
    return [
			'<button class="like btn btn-info btn-xs" href="" style="margin-top: 0px; margin-bottom: 0px" onclick="return false;" title="Like">',
			'<i class="material-icons">person</i>',
			'</button>',
			{{#if user.permissions.editUser}}
			'<button class="edit btn btn-success btn-xs" style="margin-top: 0px; margin-bottom: 0px" href="" onclick="return false;" title="Edit">',
			'EDIT',
			'</button>',
			'<button class="perm btn btn-success btn-xs" href="" style="margin-top: 0px; margin-bottom: 0px" onclick="return false;" title="Perm">',
			'PERM',
			'</button>',
			{{/if}}
			{{#if user.permissions.deleteUser}}
			'<button class="edit btn btn-danger btn-xs" class="remove" href="" style="margin-top: 0px; margin-bottom: 0px" onclick="return false;" title="Remove">',
			'Usuń',
			'</button>',
			{{/if}}
    ].join('');
}
{{#if user.permissions.deleteUser}}
function deleteUser(value) {
	swal({
		title: 'Jesteś pewien?',
		text: "Usuniecie użytkownika nie będzie można cofnąć!",
		type: 'warning',
		showCancelButton: true,
		confirmButtonColor: '#3085d6',
		cancelButtonColor: '#d33',
		confirmButtonText: 'Tak, usuń!'
	}).then(function () {
		$.ajax({
	    type: 'DELETE',
	    url: '/ap/user/' + value,
	    success: function (result) {
				if (result){
					refreshTable('#usersTable');
		  		swal(
		    	'Usuniety!',
		    	'Użytkownik pomyślnie usuniety z bazy danych',
		    	'success'
			  	)
				} else {
					swal(
		      'Error',
		      'Wystąpił błąd podczas próby usuniecia użytkownika',
		      'error'
		    )
				}
	    },
		});
	})


}
{{/if}}
window.actionEvents = {
  'click .profile': function (e, value, row, index) {
    window.location.href = "/ap/profile/" + row._id;
  },
  'click .like': function (e, value, row, index) {
    window.location.href = "/ap/profile/" + row._id;
  },
	{{#if user.permissions.editUser}}
  'click .edit': function (e, value, row, index) {
    window.location.href = "/ap/user/" + row._id;
  },
	'click .perm': function (e, value, row, index) {
    window.location.href = "/ap/user/" + row._id + "?page=permissions";
  },
	{{/if}}
	{{#if user.permissions.deleteUser}}
  'click .remove': function (e, value, row, index) {
		deleteUser(row._id);
  }
	{{/if}}
};
</script>
