<h2>{{userProfile.username}}</h2>
<ul class="list-group">
  <li class="list-group-item">Imię: {{userProfile.teamname}}</li>
  <li class="list-group-item">Nazwisko: {{userProfile.surname}}</li>
  <li class="list-group-item">Numer: {{userProfile.shirtnumber}}</li>
</ul>
